body {
  display: flex;
}

.Sidebar {
  display: flex;
  width: 300px;
  height: auto;
}

.logo-light {
  height: 1.625rem;
}

.right-side {
  width: 100%;
  margin-right: -20px;
}

.heading-top {
  padding: 1.813rem 0rem 2.313rem 1.5rem;
  margin: 0px;
}

.bg-colour {
  background-color: #364e7e1a;
  height: 100%;
}

.Columns {
  display: flex;
  justify-content: space-around;
}
