body {
  display: flex;
  margin: 0px;
}

.Sidebar {
  display: flex;
  height: auto;
  border-right: 1px solid #e4ebfa;
}

.logo-light {
  height: 1.625rem;
  padding-left: 2.125rem;
  padding-right: 7rem;
  padding-top: 2rem;
}

.heading4v1 {
  color: #828fa3;
  font-size: 0.75rem;
  padding-left: 2rem;
}

.heading4v2 {
  color: #828fa3;
  font-size: 0.75rem;
  padding-left: 0.5rem;
}

.launch-career {
  background-color: #635fc7;
  border: 0px none #635fc7;
  color: white;
  font-size: 1rem;
  width: 14rem;
  height: 2.5rem;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}

.right-side {
  width: 100%;
}

.heading-top {
  padding: 1.813rem 0rem 2.313rem 1.5rem;
  margin: 0px;
}

.bg-colour {
  background-color: #364e7e1a;
  height: 100%;
  border: 1px solid #e4ebfa;
}

.Columns {
  display: flex;
  justify-content: space-around;
}

.headings {
  display: flex;
  align-items: center;
}

.dot1 {
  border: 1px solid #49c4e5;
  background-color: #49c4e5;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

.dot2 {
  border: 1px solid #8471f2;
  background-color: #8471f2;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

.dot3 {
  border: 1px solid #67e2ae;
  background-color: #67e2ae;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

.tasks {
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  border: none;
  border-radius: 8px;
  background-color: #ffffff;
  margin-top: 20px;
  width: 280px;
  height: 50px;
}
